# Python
__pycache__/
*.pyc
*.pyo

# Node
node_modules/
npm-debug.log

# Java / Maven
target/
*.class
.mvn/wrapper/maven-wrapper.jar

# Angular
dist/
.angular/cache/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
